/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Segoe-Print';
    src: url('../fonts/911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4.eot') format('embedded-opentype');
}

/*@font-face {
    font-family: '911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4';
    src: url('../fonts/911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4.ttf') format('truetype');
}*/
.text {
    text-align: center;
    font-size: 3rem;
}
.lista {
    text-decoration: none;
}
.buttonfooter {
    margin-top: 3rem;
    
}
.menu{
    text-align: center;
    margin-bottom:unset;
}
.a , .b , .c , .d{
    margin-top: 3rem;
}
.listaExercicios{
    margin-top: 2rem;
}